@media (max-width: 600px) {
    .imageMoi {
        width: 0%;
    }

    .titleBar {
        width: 80%;
    }
    
}

@media (min-width: 601px) {
    .imageMoi {
        width: 35%;
    }
    
    .titleBar {
        width: 40%;
    }
    
}


.imageMoi {
    height: 80vh;
    position:sticky;  
    top : 6vh;
    
    object-fit: cover;
    margin-left: 2.5%; /* Ensure it is aligned to the left */
    margin-right: 2.5%; /* Ensure it is aligned to the right */
    margin-top: 1vh;
    margin-bottom: 1vh;

    align-self: flex-start;
}

.MainTitle {
    width: 100%;
    padding-top: 1vh;
}


.titleBar {
    border: none;
    height: 2px;
}


.MainSections {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 2.5%; /* Ensure it is aligned to the left */
    margin-right: 2.5%; /* Ensure it is aligned to the right */
    height: 100%;
}




.divText {
    margin-left: 2.5%; /* Ensure it is aligned to the left */
    margin-right: 2.5%; /* Ensure it is aligned to the right */
    width: 55%;
    height: 100%;

    position: relative;
}







#MainCard {
    display: block;
}