.imageMoi {
    height: 80vh;
    position:sticky;    
    width: 35%;
    top : 6vh;
    
    object-fit: cover;
    margin-left: 2.5%; /* Ensure it is aligned to the left */
    margin-right: 2.5%; /* Ensure it is aligned to the right */
    margin-top: 1vh;
    margin-bottom: 1vh;

    align-self: flex-start;
}

.MainTitle {
    width: 100%;
    padding-top: 1vh;
}


.titleBar {
    border: none;
    height: 2px;
    width: 40%;
}


.MainSections {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-left: 2.5%; /* Ensure it is aligned to the left */
    margin-right: 2.5%; /* Ensure it is aligned to the right */
    height: 100%;
}




.divText {
    margin-left: 2.5%; /* Ensure it is aligned to the left */
    margin-right: 2.5%; /* Ensure it is aligned to the right */
    width: 55%;
    height: 100%;

    position: relative;
}







#MainCard {
    display: block;
}