.Nav {
    position: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;

    top: 3vh;
    left: 3vw;

    width: auto;

    z-index: 4;
    transition: ease-out .2s; /* Ajoutez une transition pour un effet de glissement */
}

.Menu {
    display: flex;
    width: auto;
    height: auto;

    background-color: #906e70;
    color: #4f1c1b;

    padding: 1vh 1vw;
    border-radius: 1vw;

    z-index: 5;
    flex-direction: column;

    
    box-shadow: 0 0.3vh 0.5vw black;
}


#menuButton {
    display: inline-block;

}

.button-as-text {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

  .flag {
    max-width: 1%;
    max-height: 3%;
    height: auto;
    width: auto;
  }