#QuestCard {
    display: flex;
flex-direction: column;

    text-align: center;
}

.questSecondTitle {
    text-decoration: underline;
    width: 100%;
    
}

.QuestBigPart {
    display: flex;
    align-items: center;
    flex-direction: column;
}