.ProjectTitlePart {
    width: 20vw;
    height: auto;

    

    margin-top: 5vw;
    margin-bottom: 2vw;
}

.ProjectPart {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #aa8284 ;
    margin-bottom: 1vh;
    border-radius: 1vh;
    color: #4f1c1b;
    
    box-shadow: 0 0.3vh 0.5vw black;
    transition: .2s ease-in-out;
}

.ProjectPart:hover {
    background-color: #b28e90;
    cursor: pointer;

    
    box-shadow: 0 0.5vh 1vw black;
    transition: .2s ease-in-out;
}


.MedalImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Medal {
    position: absolute;

    width: 20vw;
    height: auto;

    z-index: 2;
}

.projectImg {
    position: relative;

    object-fit: cover;
    width: 9vw;
    height: 9vw;

    z-index: 1;
}

.ProjectTitle {
    margin-top: 5vw;
}