.ProjectTitlePart {
    width: 100%;
    height: auto;

    

    margin-top: 5vw;
    margin-bottom: 2vw;
}

.ProjectPart {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #aa8284 ;
    border-radius: 1vh;
    color: #4f1c1b;
    
    box-shadow: 0 0.3vh 0.5vw black;
    transition: .2s ease-in-out;
    
    
    padding: 1rem;
    margin: 1%;
    width: 20%;
}

.ProjectPart:hover {
    background-color: #c9a5a7;
    cursor: pointer;

    
    box-shadow: 0 0.5vh 1vw black;
    transition: .2s ease-in-out;
}


.MedalImage {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.Medal {
    position: absolute;

    width: 70%;
    height: auto;
}

#MedalForward {

    z-index: 2;
}

.projectImg {
    height: 100%;
    width: 100%;
    object-fit: contain;

    background-color: #222222, 0 ;
}

.ProjectTitle {
    margin-top: 50%;
}

.MedalImageCenter {
    height: auto;
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 75px;
    overflow: hidden;

    position: relative;

    z-index: 1;
}