.ProjectTitlePart {
    width: 100%;
    height: auto;

    margin-top: 5vw;
    margin-bottom: 2vw;
}

.ProjectPart {
    border-radius: 1vh;    
    
    padding: 1rem;
    margin: 1%;
    width: 20%;
}


.MedalImage {
    position: relative;
}

.Medal {
    position: absolute;

    width: 70%;
    height: auto;
}

#MedalForward {

    z-index: 2;
}

.projectImg {
    height: 100%;
    width: 100%;
    object-fit: contain;

    background-color: #222222, 0 ;
}

.ProjectTitle {
    margin-top: 50%;
}

.MedalImageCenter {
    height: auto;
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 75px;
    overflow: hidden;

    position: relative;

    z-index: 1;
}