@font-face {
  font-family: 'PressStart';
  src: url(./assets/fonts/PressStart2P-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}







::-webkit-scrollbar {display:none;} 

#CardMobile {
  text-align: center;
  font-size: 5vw;

  display: flex;
  flex-direction: column;
}

body {
  background-color: #291e2c;
  font-family: 'PressStart', sans-serif;

  
  font-size: 1vw;
}

